/*  */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    transition: all 2s ease-out;
    transition-delay: 0.2s;
    pointer-events: none;
    
}

.modal .dialog {
    width: 500px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 25px 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 14px 28px rgba(22, 39, 228, 0.25),
    0 10px 10px rgba(22, 39, 228, 0.25);
}

.modal:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.3);
    transition: all 0.5s ease-out;
}

.modal:target .dialog {
    top: -20px;
    transition: all 0.8s ease-out;
    transition-delay: 0.4s;
}

.modal .close-btn{
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    line-height: 0.8;
    padding: 0.3em 0.5em;
    color: black;
    margin-left: 20.5em;
    margin-right: 0.8em;
}


